---
- name: Get stat nifi toolkit (local)
  local_action: stat path={{ nifi_download_dir }}/nifi-toolkit-{{ nifi_toolkit.major_version }}.{{ nifi_toolkit.minor_version }}.{{ nifi_toolkit.patch_version }}-bin.tar.gz get_md5=yes
  register: toolkit
  ignore_errors: true
  when: nifi_auto_keystore
  tags:
    - nifi

- name: Download nifi toolkit (local)
  local_action: command curl
    --location
    --insecure
    --remote-name
    --cookie-jar {{ nifi_download_dir }}/nifi-toolkit-{{ nifi_toolkit.major_version }}.{{ nifi_toolkit.minor_version }}.{{ nifi_toolkit.patch_version }}-bin.tar.gz.cookie
    {{ nifi_base_mirror }}/nifi-toolkit-{{ nifi_toolkit.major_version }}.{{ nifi_toolkit.minor_version }}.{{ nifi_toolkit.patch_version }}-bin.tar.gz
    chdir={{ nifi_download_dir }}
  register: toolkit_download
  when:
    - nifi_auto_keystore
    - not toolkit.stat.exists or toolkit.stat.md5 != "{{ nifi_toolkit.md5_checksum }}"
  tags:
    - nifi

- name: Install nifi toolkit (local)
  local_action: unarchive src={{ nifi_download_dir }}/nifi-toolkit-{{ nifi_toolkit.major_version }}.{{ nifi_toolkit.minor_version }}.{{ nifi_toolkit.patch_version }}-bin.tar.gz dest={{ nifi_download_dir }} mode=0755 creates={{ nifi_download_dir }}/{{ nifi_toolkit_dir_name }}
  when:
    - nifi_auto_keystore
    - toolkit_download|changed
  tags:
    - nifi

- name: Check that the {{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/{{ inventory_hostname }} exists
  local_action:  stat path={{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/{{ inventory_hostname }}
  register: nifi_keystore_path
  when: nifi_auto_keystore
  tags: nifi

- name: Create nifi group keystore directory (local)
  local_action: file state=directory mode=0755 dest={{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}
  when: nifi_auto_keystore
  tags:
    - nifi

- name: Generate nifi password keystore in directory (local)
  local_action: debug msg={{ lookup('password', '{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/passwordfile chars=digits') }}
  when: nifi_auto_keystore
  tags:
    - nifi

- name: Create nifi keystore for cluster
  local_action: command {{ nifi_download_dir }}/{{ nifi_toolkit_dir_name }}/bin/tls-toolkit.sh standalone -S {{ lookup('password', '{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/passwordfile chars=digits') }} -P {{ lookup('password', '{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/passwordfile chars=digits') }} -K {{ lookup('password', '{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/passwordfile chars=digits') }} -n "{{ play_hosts | join(',') }}" -C "{{ nifi_authorizer_admin_identity }}" -O -o {{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}
  register: nifi_toolkit
  when: nifi_auto_keystore
  tags:
    - nifi

- name: Variables Defined for SSL
  include_vars: vars/autokeystore.yml
