---
- name: Get Apache nifi package stat (local).
  local_action: stat path={{ nifi_download_dir }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.tar.gz get_md5=yes
  register: nifi_pkg
  ignore_errors: true
  tags:
    - nifi

- name: Download nifi package (local).
  local_action: command curl
    --insecure
    {{ nifi_base_mirror }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.tar.gz
    chdir={{ nifi_download_dir }}
  when: not nifi_pkg.stat.exists or nifi_pkg.stat.md5 != "{{ nifi.linux_md5_checksum }}"
  tags:
    - nifi

- name: Check nifi install dir {{ nifi_install_dir }}.
  file: state=directory mode=0755 path={{ nifi_install_dir }}
  tags: nifi

- name: Install nifi to remote node.
  unarchive:
    src={{ nifi_download_dir }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.tar.gz
    dest={{ nifi_install_dir }}
    mode=0755
    creates={{ nifi_install_dir }}/{{ nifi_dir_name }}
  notify:
   - install nifi_Linux
  tags: nifi

- name: Create directories conf require.
  file: path={{ nifi_install_dir }}/conf/{{item }} state=directory mode=0775 force=true
  with_items:
    - archive
    - templates
  tags: nifi

- name: Create directories data require.
  file: path={{ nifi_install_dir }}/data/{{item }} state=directory mode=0775 force=true
  with_items:
    - content_repository
    - database_repository
    - flowfile_repository
    - provenance_repository
    - state
  tags: nifi

- name: Copy files keystore and trustestore.
  copy:
    src: "{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/{{ inventory_hostname }}"
    dest: "{{ nifi_install_dir }}/jks"
  when: nifi_auto_keystore
  notify: clear auth_Linux
  tags: nifi

- name: Create directories {{ nifi_install_dir }}/data/state/zookeeper require.
  file: path={{ nifi_install_dir }}/data/state/zookeeper state=directory mode=0775
  tags: nifi

- name: Create ID Zookeeper by node. 
  template: src=templates/main/state/myid.j2 dest={{ nifi_install_dir }}/data/state/zookeeper/myid
  tags: nifi

- name: Copy configurations to remote node.
  template: src={{ item }} dest={{ nifi_install_dir }}/{{ nifi_dir_name }}/conf/{{ item | basename | regex_replace('.j2','') }}
  with_fileglob:
   - templates/main/conf/*.j2
   - templates/auth/{{ nifi_secure }}/conf/*.j2
  notify:
   - restart nifi_Linux
  tags: nifi
