---
- name: Get Apache nifi package stat (local)
  local_action: stat path={{ nifi_download_dir }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip get_md5=yes
  register: nifi_pkg
  ignore_errors: true
  check_mode: no
  tags:
    - nifi

- name: Download nifi package (local)
  local_action: command curl
    --location
    --insecure
    --remote-name
    --cookie-jar {{ nifi_download_dir }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip.cookie
    {{ nifi_base_mirror }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip
    chdir={{ nifi_download_dir }}
  check_mode: no
  when: not nifi_pkg.stat.exists or nifi_pkg.stat.md5 != "{{ nifi.windows_md5_checksum }}"
  tags:
    - nifi

- name: Check nifi install dir {{ nifi_install_dir }}.
  win_file: state=directory path={{ nifi_install_dir }}
  check_mode: no
  tags: nifi

- name: Copy nifi package to remote node.
  win_copy:
    src: "{{ nifi_download_dir }}/nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip"
    dest: "{{ nifi_install_dir }}"
  check_mode: no
  tags: nifi

- name: Install Apache Nifi {{ nifi_install_dir }}\nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip to remote node.
  win_unzip:
    src={{ nifi_install_dir }}\\nifi-{{ nifi.major_version }}.{{ nifi.minor_version }}.{{ nifi.patch_version }}-bin.zip
    dest={{ nifi_install_dir }}
    recurse=yes
    rm=false
  ignore_errors: true
  check_mode: no
  tags: nifi

- name: Create directories conf require.
  win_file: path={{ nifi_install_dir }}\\conf\\{{item }} state=directory mode=0775 force=true
  with_items:
    - archive
    - templates
  tags: nifi

- name: Create directories data require.
  win_file: path={{ nifi_install_dir }}\\data\\{{item }} state=directory mode=0775 force=true
  with_items:
    - content_repository
    - database_repository
    - flowfile_repository
    - provenance_repository
    - state
  tags: nifi

- name: Start Apache Nifi Windows Service. 
  win_nssm: name=NifiService application="{{ nifi_install_dir }}\\{{ nifi_dir_name }}\\bin\\run-nifi.bat" start_mode=manual user="{{ansible_env.USERDOMAIN}}\\{{ansible_user_id}}" password={{ansible_ssh_pass}}
  ignore_errors: true
  check_mode: no
  tags: nifi

- name: Copy files keystore and trustestore.
  win_copy:
    src: "{{ nifi_download_dir }}/pki/{{ nifi_authorizer_dn }}/{{ inventory_hostname }}"
    dest: "{{ nifi_install_dir }}\\jks"
  check_mode: no
  notify: clear auth_Windows
  when: nifi_auto_keystore
  tags: nifi

- name: Create directories {{ nifi_install_dir }}/data/state/zookeeper require.
  win_file: path={{ nifi_install_dir }}\\data\\state\\zookeeper state=directory mode=0775
  tags: nifi

- name: Create ID Zookeeper by node.
  win_template: src=templates/main/state/myid.j2 dest={{ nifi_install_dir }}\\data\\state\\zookeeper\\myid
  check_mode: no
  tags: nifi

- name: Copy conf to remote node.
  win_template: src={{ item }} dest={{ nifi_install_dir }}\\{{ nifi_dir_name }}\\conf\\{{ item | basename | regex_replace('.j2','') }}
  with_fileglob:
   - templates/main/conf/*.j2
   - templates/auth/{{ nifi_secure }}/conf/*.j2
  check_mode: no
  notify: 
    - restart nifi_Windows
  tags: nifi
