---
- name: clear auth_Linux
  file: path='{{ nifi_install_dir }}/{{ nifi_dir_name }}/conf/{{ item }}' state=absent
  with_items:
    - users.xml
    - authorizations.xml
  ignore_errors: true

- name: clear auth_Windows
  win_file: path='{{ nifi_install_dir }}\\{{ nifi_dir_name }}\\conf\\{{ item }}' state=absent
  with_items:
    - users.xml
    - authorizations.xml
  ignore_errors: true

- name: env nifi_Linux
  command: "{{ nifi_install_dir }}/{{ nifi_dir_name }}/bin/nifi-env.sh"

- name: env nifi_Windows
  win_command: "{{ nifi_install_dir }}\\{{ nifi_dir_name }}\\bin\\nifi-env.bat"

- name: env nifi_Linux
  command: "{{ nifi_install_dir }}/{{ nifi_dir_name }}/bin/nifi.sh install"

- name: install nifi_Windows 
  win_nssm: name=NifiService state=started
  ignore_errors: true

- name: restart nifi_Linux
  service: name=nifi state=restarted

- name: restart nifi_Windows
  win_service: name=NifiService state=restarted
